PORT=

ZERODHA_API_KEY=    
ZERODHA_API_SECRET=
ACCESS_TOKEN=
KITE_API_URL =

# Firebase Configuration
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_CLIENT_ID=
FIREBASE_CLIENT_CERT_URL=